<%= form_tag('/sugerencias/resumen') do -%>
<div class="row-fluid">

    <div class="span7">
      <h2> Comienza con un resumen </h2>

      <fieldset class="form-inline">
        <input id="summary" name="summary" type="text" class="input-xxlarge"
          placeholder="Escribe aqui una breve descripción" required>
      </fieldset>

    </div>

    <div class="span5">
      <h2> Tus datos </h2>

      <fieldset class="form-inline">
        <div class="row-fluid">
          <div class="span10">
            <label for="fullname">Nombre y Apellidos</label>
          </div>
          <div class="span3">
            <input id="fullname" name="fullname" type="text" class="input-xlarge"
              placeholder="tu nombre y apellidos" required>
          </div>
        </div>
      </fieldset>

      <fieldset class="form-inline">
        <div class="row-fluid">
          <div class="span2">
            <label for="dni">DNI</label>
          </div>
          <div class="span10">
            <input id="dni" name="dni" type="text" class="input-medium"
              placeholder="tu dni" required>
          </div>
        </div>
      </fieldset>

      <fieldset class="form-inline">
        <div class="row-fluid">
          <div class="span2">
            <label for="email">E-mail</label>
          </div>
          <div class="span10">
            <input id="email" name="email" type="email" class="input-medium"
              placeholder="tuemail@example.com" required>
          </div>
        </div>
      </fieldset>

    </div>
</div>

<div class="row-fluid">

  <%= submit_tag 'Completar la sugerencia', :class => "btn btn-large" %>

</div>
<% end -%>


