<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tu sugerencia ha sido confirmada y ya aparece en la web</h1>
    <h1>¡Gracias!</h1>

  </body>
</html>