<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Has publicado una sugerencia en buzonciudadano!</h1>
    <p>
      Todavia no esta publicada, para confirmar que has sido tu el que la ha escrito solamente tienes que seguir este enlace <%= @url %>
      <br/>
      <br/>
    </p>

    <p>¡Gracias por compartir!</p>
  </body>
</html>