<div class="row">
  <%= form_tag('/issue/create', :remote => true) do -%>
    <fieldset class="form-inline">
      <label for="fullname">Nombre y apellidos:</label>
      <input id="fullname" name="fullname" type="text" class="input-xxlarge"
        placeholder="tu nombre y apellidos" required>
    </fieldset>

    <fieldset class="form-inline">
      <label for="summary">Resumen:</label>
      <input id="summary" name="summary" type="text" class="input-xxlarge"
        placeholder="¿cuál es tu sugerencia? se específico" required>
    </fieldset>

    <fieldset class="form-inline">
      <label for="address">Dirección:</label>
      <div class="input-append">
        <input id="address" name="address" type="text" class="input-xxlarge"
          placeholder="dirección de la incidencia" required>
      </div>
    </fieldset>

    <div id="map" class="map"></div>

    <div id="uploader"></div>

    <div id="preview"></div>
    <input id="imageurl" name="imagesurl" type="text">

    <textarea name="text" class="text" placeholder="describe detalladamente tu sugerencia" required></textarea>

    <%= submit_tag 'Save' %>
<% end -%>
</div>


